.container {
  width: 100%;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
}
.image-wrapper {
  margin: 5px 5px;
  position: relative;
  width: 100%;
}
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-content {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: space-around;
}
.image-overlay:hover {
  opacity: 1;
}

/* Buttons */

.button-fav {
  outline: none;
  background-color: transparent;
  color: white;
  padding: 5px 0;
  border: 1px solid white;
  border-radius: 20px;
}

.isFavourite {
  background-color: #cfc929;
}
@media (min-width: 576px) {
  .image-wrapper {
    margin: 5px 5px;
    position: relative;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .image-wrapper {
    margin: 5px 5px;
    position: relative;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .image-wrapper {
    margin: 5px 5px;
    position: relative;
    width: 30%;
  }
}
